<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
<div class="alert alert-warning" role="alert" th:if="${!#strings.isEmpty(account.user_id) && !account.emailVerified}">
  이메일 인증이 완료되지 않았습니다.
  <a href="#" th:href="@{/account/resend-email}" class="alert-link">이메일 인증 재전송하기</a>
</div>
<div th:replace="fragments::main-nav"></div>
<div class="container py-5">
  <div th:replace="fragments::wrong-request"></div>
  <div class="py-5 text-center">
    <h2>마이 페이지</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-1">
      <div th:replace="fragments::profile-menu(currentMenu='myPage')"></div>
    </div>

    <div class="col-10 d-flex">
      <div class="card me-5" th:if="${#lists.size(myCommentList)}  > 0"
           th:each="list : ${myCommentList}"
           th:onclick="|location.href='@{/movie-view( subject=${list.subject} )}'|"
           style="width: 25rem; height: 20rem;">
        <img class="card-img" th:src="${list.img}">
        <div class="card-body text-center rounded-2" style="background-color: #cccccc">
          <h5 class="card-title text-uppercase" th:text="${list.subject}">제목</h5>
          <p class="card-text text-capitalize" th:text="${list.genre}">장르</p>
          <h5 th:class="score+${list.score}" th:text="${list.score}">점수</h5>
          <p class="mb-5" th:text="${list.comment}">한줄평</p>
          <p class="text-end" th:text="${#dates.format(list.submittedAt, 'yyyy-MM-dd')}">등록일</p>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
<link rel="stylesheet" href="/css/star.css">
<script th:replace="fragments::logout"></script>
<script src="/node_modules/summernote/dist/summernote-lite.js"></script>
<script src="/node_modules/summernote/dist/lang/summernote-ko-KR.js"></script>
<script th:replace="fragments::form-validation"></script>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script type="application/javascript" th:inline="javascript">
  $(document).ready(function () {
    $(".score1").css("color","#F9D548").html("&#9733; &#9734; &#9734; &#9734; &#9734;");
    $(".score2").css("color","#F9D548").html("&#9733; &#9733; &#9734; &#9734; &#9734;");
    $(".score3").css("color","#F9D548").html("&#9733; &#9733; &#9733; &#9734; &#9734;");
    $(".score4").css("color","#F9D548").html("&#9733; &#9733; &#9733; &#9733; &#9734;");
    $(".score5").css("color","#F9D548").html("&#9733; &#9733; &#9733; &#9733; &#9733;");
  });
</script>