<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
    <div th:replace="fragments::main-nav"></div>
    <div class="container">
        <div class="py-5 text-center" th:if="${#strings.equals(error,'wrong.email')}">
            <p class="lead">이메일 인증 실패</p>
            <div class="alert alert-danger" role="alert">
                이메일 확인 링크가 정확하지 않습니다.
            </div>
        </div>
        <div class="py-5 text-center" th:if="${#strings.equals(error,'wrong.token')}">
            <p class="lead">이메일 인증 실패</p>
            <div class="alert alert-danger" role="alert">
                토큰 값이 정확하지 않습니다.
            </div>
        </div>

        <div>
            <div class="py-5 text-center" th:if="${error == null}">
                <p class="lead">비밀번호 수정</p>
            </div>

            <div class="row justify-content-center">
                <form class="needs-validation col-sm-6"
                      action="#" th:action="@{/account/change-password}" th:object="${signUpForm}" method="post" novalidate>
                    <div class="form-group mb-3">
                        <label for="password">패스워드</label>
                        <input id="password" type="password" name="password" th:field="*{password}" class="form-control"
                               aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                        <small class="form-text text-muted">8~50자로 입력해주세요. 공백 사용불가</small><br>
                        <small class="invalid-feedback">조건에 부합한 패스워드를 입력해주세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                    </div>

                    <div class="form-group mb-3">
                        <input id="email" type="hidden" name="email" class="form-control" th:field="*{email}" required>
                    </div>

                    <div class="form-group mb-3">
                        <button class="btn btn-success btn-block" type="submit"
                                aria-describedby="submitHelp">변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="application/javascript" th:replace="fragments::form-validation"></script>

    <script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
        $(document).ready(function () {
            var email = /*[[${email}]]*/ ;
            $("#email").val(email);
        });
    </script>
</body>
</html>