<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        이메일 인증이 완료되지 않았습니다.
        <a href="#" th:href="@{/resend-email}" class="alert-link">이메일 인증 재전송하기</a>
    </div>
    <div th:replace="fragments::main-nav"></div>
    <div class="container">
        <div class="py-5 text-center" th:if="${message} == 'Mail'">
            <p class="lead">비밀번호 인증메일 전송완료</p>
            <div class="row justify-content-center">
                <h2>전송이 완료되었습니다.</h2>
                <p>이메일을 확인 후, 인증을 진행해주세요.</p>
                <a th:href="@{/}">홈으로</a>
            </div>
        </div>


        <div class="py-5 text-center" th:if="${message} == 'Change'">
            <p class="lead">비밀번호 변경 완료</p>
            <div class="row justify-content-center">
                <h2>비밀번호 수정이 완료되었습니다.</h2>
                <p><a th:href="@{/login}">로그인</a>하러 가기</p>
            </div>
        </div>
    </div>
</body>
<script th:replace="fragments::logout"></script>
</html>