<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        이메일 인증이 완료되지 않았습니다.
        <a href="#" th:href="@{/check-email}" class="alert-link">이메일 인증 재전송하기</a>
    </div>
    <div th:replace="fragments::main-nav"></div>
    <div class="container py-5">
        <div th:replace="fragments::wrong-request"></div>

        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div class="pb-3 text-end">
                    <a class="btn btn-primary" th:href="@{/new-board}" role="button">글쓰기</a>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col" class="text-center">작성자</th>
                        <th scope="col" class="text-center">날짜</th>
                        <th scope="col" class="text-center">조회수</th>
                    </tr>
                        <tbody class="text-start click" th:if="${#lists.size(boardList)}  > 0"
                               th:each="list : ${boardList}"
                               th:onclick="|location.href='@{/board-view( no=${list.no} )}'|"
                            style="cursor: pointer">
                            <td class="col-sm-1 text-center" th:text="${list.no}">번호</td>
                            <td class="col-sm-8" th:text="${list.title}">제목</td>
                            <td class="col-sm-1 text-center" th:text="${list.user_id }">작성자</td>
                            <td class="col-sm-1 text-center" th:text="${#dates.format(list.submittedAt,'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                            <td class="col-sm-1 text-center" >0</td>
                        </tbody>
                    </thead>
                </table>
                <!--페이징-->
                <div class="Page navigation" id="pageDiv">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <button class="page-link" id="firstPage" onclick="firstPage()">
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        <li class="page-item" style="display: none"><button class="page-link" id="ppPage" th:text="${pageNo}-2" onclick="pprePage()">이이전</button> </li>
                        <li class="page-item"><button class="page-link" id="pPage" th:text="${pageNo}-1" onclick="prePage()">이전페이지</button> </li>
                        <li class="page-item active"><button class="page-link" id="currentPage" th:text="${pageNo}">현재페이지</button> </li>
                        <li class="page-item"><button class="page-link" id="nPage" th:text="${pageNo}+1" onclick="nextPage()">다음페이지</button> </li>
                        <li class="page-item" style="display: none"><button class="page-link" id="nnPage" th:text="${pageNo}+2" onclick="nnextPage()">다다음페이지</button> </li>
                        <input type="hidden" id="lastP" th:value="${lastPage}">

                        <li class="page-item">
                            <button class="page-link" id="nextPage" onclick="endPage()">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:replace="fragments::logout"></script>
<script type="application/javascript">
    var lastPage = null;

    $(document).ready(function () {
        lastPage = $("#lastP").val();


        if(document.getElementById("currentPage").innerText<lastPage
            && document.getElementById("currentPage").innerText>=2) {
            $("#ppPage").parent().css("display","none");
            $("#pPage").parent().css("display","block");
            $("#nPage").parent().css("display","block");
            $("#nnPage").parent().css("display","none");
            $("#firstPage").parent().css("display","block");
            $("#nextPage").parent().css("display","block");

        }else if(document.getElementById("currentPage").innerText == 1) {
            $("#ppPage").parent().css("display","none");
            $("#pPage").parent().css("display","none");
            $("#nPage").parent().css("display","block");
            $("#nnPage").parent().css("display","block");
            $("#firstPage").parent().css("display","none");
            $("#nextPage").parent().css("display","block");
        }else if(document.getElementById("currentPage").innerText == lastPage) {
            $("#ppPage").parent().css("display","block");
            $("#pPage").parent().css("display","block");
            $("#nPage").parent().css("display","none");
            $("#nnPage").parent().css("display","none");
            $("#firstPage").parent().css("display","block");
            $("#nextPage").parent().css("display","none");
        }

        if(lastPage <= 3 && document.getElementById("currentPage").innerText <= lastPage) {
            var current = document.getElementById("currentPage").innerText;

            $("#firstPage").parent().css("display","none");
            $("#nextPage").parent().css("display","none");

            if(current == 1) {
                $("#ppPage").parent().css("display","none");
                $("#pPage").parent().css("display","none");
                $("#nPage").parent().css("display","block");
                $("#nnPage").parent().css("display","block");
            }else if(current == 2) {
                $("#ppPage").parent().css("display","none");
                $("#pPage").parent().css("display","block");
                $("#nPage").parent().css("display","block");
                $("#nnPage").parent().css("display","none");
            }else if(current == 3) {
                $("#ppPage").parent().css("display","block");
                $("#pPage").parent().css("display","block");
                $("#nPage").parent().css("display","none");
                $("#nnPage").parent().css("display","none");
            }
        }

        if(lastPage<=2) {
            if(lastPage == 2 && current == 1) {
                $("#nnPage").parent().css("display","none");
            }else if(lastPage == 2 && current == 2) {
                $("#nPage").parent().css("display","none");
                $("#nnPage").parent().css("display","none");
            }
            else if(lastPage == 1) {
                $("#nPage").parent().css("display","none");
                $("#nnPage").parent().css("display","none");
            }
        }
        if(lastPage == "0") {
            $("#pageDiv").css("display","none");
        }else {
            $("#pageDiv").css("display","block");
        }

    });

    function nextPage() {
        var page = document.getElementById("nPage").innerText;
        location.href = "board-index?pageNo="+page;
    }

    function prePage() {
        var page = document.getElementById("pPage").innerText;
        location.href = "board-index?pageNo="+page;
    }

    function pprePage() {
        var page = document.getElementById("ppPage").innerText;
        location.href = "board-index?pageNo="+page;
    }

    function nnextPage() {
        var page = document.getElementById("nnPage").innerText;
        location.href = "board-index?pageNo="+page;
    }

    function firstPage() {
        var page = 1;
        location.href = "board-index?pageNo=1";
    }

    function endPage() {
        var page = $("#lastP").val();
        location.href = "board-index?pageNo="+page;
    }
</script>
</html>