<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        이메일 인증이 완료되지 않았습니다.
        <a href="#" th:href="@{/resend-email}" class="alert-link">이메일 인증 재전송하기</a>
    </div>
    <div th:replace="fragments::main-nav"></div>
    <div class="container">
        <div class="py-5 text-center">
            <p class="lead">오류</p>
            <div class="alert alert-danger" role="alert">
                잘못된 접근입니다.
                <a th:href="@{/}">홈으로 돌아가기</a>
            </div>
        </div>
    </div>
</body>
<script th:replace="fragments::logout"></script>
</html>