<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie</title>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-lite.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>

<nav th:fragment="main-nav" class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/images/logo.png" width="30" height="30">
        </a>
        <div class="collapse navbar-collapse col-10">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">영화 한 줄평</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board-index?pageNo=1}">영화 이야기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">마이 페이지</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i>
                        로그인</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/account/sign-up}">회원가입</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
<!--                    <form action="#" th:action="@{/logout}" method="post">-->
<!--                        <button type="submit">로그아웃</button>-->
<!--                    </form>-->
                    <a class="nav-link" href="#" onclick="logout_submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        로그아웃</a>
                    <form id="logoutform" action="#" th:action="@{/logout}" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer"></footer>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<script type="application/javascript" th:fragment="logout">
    function logout_submit() {
        document.getElementById('logoutform').submit();
    }
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<div th:fragment="wrong-request" class="py-5 text-center" th:if="${#strings.equals(error,'wrong.request')}">
    <p class="lead">잘못된 요청</p>
    <div class="alert alert-danger" role="alert">
        잘못된 접근입니다. (올바른 경로로 요청하세요)
    </div>
</div>

