<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        이메일 인증이 완료되지 않았습니다.
        <a href="#" th:href="@{/check-email}" class="alert-link">이메일 인증 재전송하기</a>
    </div>
    <div th:replace="fragments::main-nav"></div>

    <div class="container row justify-content-center">
        <div class="col-sm-10">
            <div class="py-5 text-center">
                <h2>안녕하세요.</h2>
            </div>
        </div>
    </div>
</body>
<script th:replace="fragments::logout"></script>
</html>