<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head">
</head>
<body class="bg-light">
    <div class="alert alert-warning" role="alert" th:if="${!#strings.isEmpty(account.user_id) && !account.emailVerified}">
        이메일 인증이 완료되지 않았습니다.
        <a href="#" th:href="@{/account/resend-email}" class="alert-link">이메일 인증 재전송하기</a>
    </div>
    <div th:if="${!#strings.isEmpty(account.user_id)}">
        <p th:text="${account.user_id}"></p>
        <p th:text="${account.email}"></p>
        <p th:text="${account.emailVerified}"></p>
    </div>
    <p sec:authentication="principal"></p>
    <div th:replace="fragments::main-nav"></div>

    <div class="container row justify-content-center">
        <div class="col-sm-10">
            <div class="py-5">
                <div class="row">
                    <h2 class="col-sm-12">방문해주셔서 감사합니다. 이영재입니다.</h2>
                </div>
                <div class="row mt-3">
                    <div class="form-group">
                        <strong style="color: #111111">프로젝트 소개</strong>
                        <p class="form-text text-black">지금까지 공부한 지식을 토대로 구현해본 프로젝트입니다. <br>
                            본 영화를 기록하는 기능을 주제로 한 프로젝트로 기획하였습니다.<br>
                            <small style="color: #880000">영화 기록 기능은 계속하여 추가할 예정입니다.</small><br><br>
                        구현한 기능으로 회원가입, 로그인, 로그아웃, 로그인유지, 이메일인증, 이메일로 패스워드 찾기, 게시판, 댓글 및 대댓글, 페이징, 게시글 검색기능이 있습니다.
                        </p>
                    </div>

                    <div class="form-group mb-4">
                        <strong style="color: #111111">사용된 기술 스택</strong>
                        <div>
                            <img src="https://img.shields.io/badge/java-007396?style=for-the-badge&logo=java&logoColor=white">
                            <img src="https://img.shields.io/badge/css-1572B6?style=for-the-badge&logo=css3&logoColor=white">
                            <img src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black">
                            <img src="https://img.shields.io/badge/jquery-0769AD?style=for-the-badge&logo=jquery&logoColor=white">
                            <img src="https://img.shields.io/badge/spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white">
                            <img src="https://img.shields.io/badge/springboot-6DB33F?style=for-the-badge&logo=springboot&logoColor=white">
                            <img src="https://img.shields.io/badge/bootstrap-7952B3?style=for-the-badge&logo=bootstrap&logoColor=white">
                            <img src="https://img.shields.io/badge/amazonaws-232F3E?style=for-the-badge&logo=amazonaws&logoColor=white">
                            <img src="https://img.shields.io/badge/apache tomcat-F8DC75?style=for-the-badge&logo=apachetomcat&logoColor=white">
                            <img src="https://img.shields.io/badge/github-181717?style=for-the-badge&logo=github&logoColor=white">
                            <img src="https://img.shields.io/badge/postgresql-4169E1?style=for-the-badge&logo=postgresql&logoColor=white">
                            <img src="https://img.shields.io/badge/mybatis-181717?style=for-the-badge&logo=mybatis&logoColor=white">
                            <img src="https://img.shields.io/badge/npm-CB3837?style=for-the-badge&logo=npm&logoColor=white">
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <strong style="color: #111111">DB 구조</strong>
                        <div><img class="mb-5" src="/images/table.png" alt=""></div>
                    </div>

                    <div class="form-group mb-2">
                        <strong style="color: #111111">자기소개</strong>
                        <ul>
                            <li class="form-text text-black">
                                국비학원 풀스택 자바웹개발자 (프론트엔드&백엔드) 교육과정 6개월을 수료 후 신입 개발자로서 취업을 준비 중에 있습니다.<br>
                            </li>
                            <li class="form-text text-black">
                                 풀스택 과정 수료로 프론트, 백엔드 모두 기본적인 지식을 갖추고 있으며, <br>
                                학원에서의 수업 및 인터넷 강의를 통한 학습 내용 및 생각들을 빠짐없이 Notion에 기록하여, <br>
                                늘 배우는 자세로 지식들을 수용하기 위해 노력하고 있습니다.
                            </li>
                            <li class="form-text text-black">
                                비록 이 분야를 알게된지 1년이 채 되지 않았지만, <br>
                                최고의 효율을 목표로 항상 변화한다는 점이 사람으로서 살아가야 할 지향점과 비슷하다고 느낍니다. <br>
                                이처럼 제자리에 멈춰있지 않고 전진하는 개발자가 되기위해 최선을 다하겠습니다.
                            </li>
                        </ul>
                    </div>

                    <div class="form-group mb-2">
                        <strong style="color: #111111">연락처</strong>
                        <ul>
                            <p class="form-text text-black">
                                E-mail. lyj6752@naver.com
                            </p>
                            <p class="form-text text-black">
                                Phone. 010-2972-0813
                            </p>
                            <p class="form-text text-black">
                                Github. <a href="https://github.com/lyjlee" target="_blank">https://github.com/lyjlee</a>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script th:replace="fragments::logout"></script>
</html>