<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.AccountMapper">
    <resultMap id="accountResult" type="com.lyj.portfolio.VO.Account">
        <result property="user_id" column="user_id"/>
        <result property="password" column="user_password"/>
        <result property="name" column="user_name"/>
        <result property="email" column="user_email"/>
        <result property="emailVerified" column="user_emailVerified"/>
        <result property="emailCheckToken" column="user_emailCheckToken"/>
        <result property="joinedAt" column="user_JoinedAt"/>
    </resultMap>
</mapper>